.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .informations {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .informations .title {
    font-size: 24px;
    font-weight: 800;
}

.header .informations .new-notifications-number {
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    padding: 2px 11px;
    border-radius: 6px;
}

.header .mark-all-as-read-button {
    color: hsl(219, 12%, 42%);
    cursor: pointer;
}

.header .mark-all-as-read-button:hover {
    color:hsl(219, 85%, 26%);
}