@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: hsl(210, 60%, 98%);
    min-height: 100vh;
    padding: 7.5vh 22.5vw;
}

button {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    body {
        padding: 0;
    }
}